.button--increment {
    margin: 5px auto;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    background: #333;
    color: #eee;
    border: none;
    border-radius: 5px;
}

button.button--increment:hover {
    background: #555;
}
