   * {
       box-sizing: border-box;
       user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       -webkit-touch-callout: none;
   }

   input,
   textarea,
   select {
       font-size: 16px;
   }

   body {
       font-family: 'Compacta', sans-serif;
       font-size: 16px;
       color: #eee;
       text-align: center;
       background: #000000;
       background-image: url("../assets/backgrounds/square.png");
       background-size: .5rem;
       background-repeat: repeat;
   }

   h1 {
       margin-top: 20px;
       text-align: center;
       padding-bottom: 6px;
       font-family: 'Franklin Gothic Condensed', sans-serif;
       font-size: clamp(30px, 8vw, 70px);
       color: #ffffff;
       white-space: nowrap;
       text-shadow:
           0 0 10px #00ffff,
           0 0 20px #006cff,
           0 0 30px #8d00ff,
           0 0 40px #ff00f5;
   }

   h2 {
       font-family: 'Franklin Gothic Condensed', sans-serif;
       text-align: left;
       padding-bottom: 6px;
       margin: 0;
       color: #ffffff;
       font-size: 20px;
       text-shadow:
           0 0 2px #00ffff,
           0 0 4px #006cffff,
           0 0 6px #576dc9ff,
           0 0 8px #ff00f5ff;
   }

   h3 {
       font-family: 'Franklin Gothic Condensed', sans-serif;
       text-align: center;
       padding-bottom: 6px;
       margin: 0;
       color: #ffffff;
       font-size: 30px;
       text-shadow:
           0 0 2px #00ffff,
           0 0 4px #006cffff,
           0 0 6px #576dc9ff,
           0 0 8px #ff00f5ff;
   }

   section {
       margin: 30px auto;
       padding: 10px;
       border-radius: 20px;
       width: 100%;
       max-width: 410px;
       background: #131212;
       background-image: url("../assets/backgrounds/triangel.svg");
       background-position: 100% 0;
       background-repeat: no-repeat;
       background-size: 80%;
       box-shadow:
           0 0 2px #ffffff,
           0 0 6px #00ffff,
           0 0 9px #4e83ff,
           0 0 12px #a58cff,
           inset 0 0 2px #ffffff,
           inset 0 0 6px #00ffff,
           inset 0 0 9px #4e83ff,
           inset 0 0 12px #a58cff;
       text-align: center;
   }

   button {
       font-family: 'Franklin Gothic Condensed', sans-serif;
       text-align: center;
       margin: 20px auto;
       font-size: 30px;
       padding: 4px 15px;
       cursor: pointer;
       background: #00c853;
       color: #eee;
       border: none;
       border-radius: 5px;
       text-shadow:
           0 0 2px #00ffff,
           0 0 4px #006cffff,
           0 0 6px #576dc9ff,
           0 0 8px #ff00f5ff;
   }

   button:hover {
       background: #444;
   }

   #answers label {
       text-align: left;
       display: block;
       padding: 0.75rem 1rem;
       margin-bottom: 0.5rem;
       border: 1px solid #00ffff;
       border-radius: 10px;
       cursor: pointer;
   }

   #answers label:hover {
       background: #f0f0f0;
   }

   #answers input[type="radio"] {
       margin-right: 0.5rem;
   }
