#timer {
  font-size: 3rem;
  font-weight: bold;
  color: #d50000;
  text-align: center;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
}
#continueBtn,
#realContinueBtn {
  display: none;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-family: 'Franklin Gothic Condensed', sans-serif;
}

#continueBtn {
  padding: 4px 15px;

  font-size: 30px;

  background: #00c853;

  color: #eee;
}

#realContinueBtn {
  padding: 6px 20px;

  font-size: 34px;

  background: #ff1744;

  color: white;

  box-shadow: 0 0 15px #ff1744;
}
